.App {
  height: 100vh;
  text-align: center;
  background: #e0e0e0;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-previewCaption {
  font-style: italic;;
}

.App-iconList {
  list-style: none;

  color: black;

  display: flex;
  justify-content: center;
}

.App-iconItem {
  margin-right: 10px;
}

.App-artboard {
  padding: 40px;
  margin: 40px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
